body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #003366;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h {
   color: #0a0a0a;
    font-size: 1.8em;
    margin-bottom: 15px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h4 {
    margin: 0 0 10px;
    font-size: 1.4em;
    color: #34495e;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    font-size: 1.1em;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
footer {
    background-color: #003366;
    color: white;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

footer h3 {

    margin: 0;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer ul li a {
    text-decoration: none;
    color: white;
}

.social img {
    width: 30px;
    margin-right: 0.5rem;
}

.bottom-bar {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-bar img {
    width: 100px;
    height: auto;
}

.bottom-bar div {
    flex: 1;
    text-align: center;
}
.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-item img {
    width: 30px;
    height: auto;
}

.contact-item span {
    font-size: 16px;
    color: white;
}